<style>

.process-panel .process-content h3{
	font-size:25px;
}


.process-panel .process-content p{
font-size:16px;
padding-top:50px;
}

.process-panel .process-img .process-overlay {
  background-color:transparent;
}

</style>
<section id="feature3" class="feature feature-left feature-heading feature-3 bg-white">
	<div class="container">
		<div class= "title-area">
		<div class="row">
    <div class="heading heading-2 mb-40 text--center">
    	
          <p class="heading--subtitle">Now this is</p>
          <h2 class="heading--title">What we do</h2>
          <div class="divider--line divider--center"></div>
     
    </div>
			<!-- Panel #1 -->
					<div class="row">
			<!-- Process #1 -->
			<div class="col-xs-12 col-sm-6 col-md-3 process-panel text--center">
					<div class="process-img">
						<img src="assets/images/process/process-1.png" alt="process image">
						<div class="process-overlay">
	
						</div>
					</div>
					<div class="process-content">
						<h3>Strategy</h3>
						<p>We conduct research to drive product innovation and work to bridge the gap between business objectives and user experiences.</p>
					</div>
				
			</div><!-- .col-md-3 end -->
			
			<!-- Process #2 -->
			<div class="col-xs-12 col-sm-6 col-md-3 process-panel text--center">
					<div class="process-img">
						<img src="assets/images/process/process-2.png" alt="process image">
						<div class="process-overlay">
	
						</div>
					</div>
					<div class="process-content">
						<h3>UX & UI</h3>
						<p>Our design team creates intuitive interfaces, experiences, and interactions that relate to our client’s brand and end product.</p>
					</div>
				
			</div><!-- .col-md-3 end -->
			
			<!-- Process #3 -->
			<div class="col-xs-12 col-sm-6 col-md-3 process-panel text--center">
					<div class="process-img">
						<img src="assets/images/process/process-3.png" alt="process image">
						<div class="process-overlay">
			
						</div>
					</div>
					<div class="process-content">
						<h3>Development</h3>
						<p>The development team brings those designs to life. We conduct complete quality assurance before moving to production.</p>
					</div>
				
			</div><!-- .col-md-3 end -->
			
			<!-- Process #4 -->
			<div class="col-xs-12 col-sm-6 col-md-3 process-panel text--center">
					<div class="process-img">
						<img src="assets/images/process/process-4.png" alt="process image">
						<div class="process-overlay">
			
						</div>
					</div>
					<div class="process-content">
						<h3>Support</h3>
						<p>That’s not where we leave you! Post-product launch, we monitor key performance indicators and takeaways for future product iterations.</p>
					</div>
				
			</div><!-- .col-md-3 end -->
		</div><!-- .row end -->

		</div><!-- .row end -->
	</div> <!-- title-area-->
	
	</div><!-- .container end -->

</section><!-- .feature3 end -->